%h3 Preconstructed Decks
- @sets.each do |set|
  %div= "#{set.name} (#{set.code.upcase})"
  %ul
    - set.decks.sort_by{|deck| [deck.type, deck.name]}.each do |deck|
      %li
        = link_to_deck(deck) do
          = "#{deck.name}"
        = "(#{deck.type}, #{deck.number_of_total_cards} cards)"
