.decklist
  %header
    %h4= @name
    %button.btn.btn-outline-primary
      = download_link_to_deck(@deck, {download: true}) do
        Download
  - if @display
    .row
      .col-12
        %div= @display
  .row
    .col-12
      %div
        = @set_name
        &mdash;
        = @type
        - if @release_date
          &mdash;
          = @release_date
  .row
    .col-8.two-columns
      - @card_groups.each do |(i, group), cards|
        .card_group
          %h6= "#{group} (#{cards.map{|c| c[0]}.inject(0, &:+)})"
          - cards.each do |count, card|
            .card_entry
              = count
              %span.previewable_card_name{"data-preview-link": preview_id(card)}
                = link_to_card(card.main_front) do
                  = card.name
                  = card.front.map{|cp| format_oracle_text(cp.display_mana_cost)}.join("/").html_safe
    .col-4.picture_preview_column
      .picture_preview_box
        - @card_previews.each_with_index do |preview_card, i|
          .card_picture_cell{"data-preview": preview_id(preview_card), style: (preview_card == @default_preview_card ? nil : "display: none;")}
            = render "card/picture", card: preview_card
