.decklist
  %header
    .row
      .col-9
        %h4= @name
      .col-3
        %button.btn.btn-outline-primary
          = download_link_to_deck(@deck, {download: true}) do
            Download
  .row
    .col-12
      %div
        = @set_name
        &mdash;
        = @type
  .row
    .col-4
      - @card_groups.each do |(i, group), cards|
        - next if i > 4
        .card_group
          %h6= "#{group} (#{cards.map{|c| c[0]}.inject(0, &:+)})"
          - cards.each do |count, card|
            .card_entry
              = count
              %span.previewable_card_name{"data-preview-link": card.name}
                = link_to_card(card.main_front) do
                  = card.name
                  = card.front.map{|cp| format_oracle_text(cp.mana_cost)}.join("/").html_safe
    .col-4
      - @card_groups.each do |(i, group), cards|
        - next if i <= 4
        .card_group
          %h6= "#{group} (#{cards.map{|c| c[0]}.inject(0, &:+)})"
          - cards.each do |count, card|
            .card_entry
              = count
              %span.previewable_card_name{"data-preview-link": card.name}
                = link_to_card(card.main_front) do
                  = card.name
                  = card.front.map{|cp| format_oracle_text(cp.mana_cost)}.join("/").html_safe
    .col-4
      - @card_previews.each_with_index do |preview_card, i|
        .card_picture_cell{"data-preview": preview_card.name, style: (preview_card == @default_preview_card ? nil : "display: none;")}
          = render "card/picture", card: preview_card.main_front
