.navbar
  %nav.footer
    %div
      = link_to controller: "help", action: "syntax" do
        Syntax Help
      &bullet;
      = link_to controller: "help", action: "rules" do
        Rules
      &bullet;
      = link_to controller: "help", action: "contact" do
        Contact
      &bullet;
      %a{href: "https://fenhl.net/disc"}
        Disclaimer / Impressum
    %div
      = link_to controller: "set", action: "index" do
        Sets
      &bullet;
      = link_to controller: "artist", action: "index" do
        Artists
      &bullet;
      = link_to controller: "format", action: "index" do
        Formats
      &bullet;
      = link_to controller: "deck", action: "index" do
        Decks
      &bullet;
      %a{href: "/trice.zip"}
        Cockatrice Download
