!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Frontend
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %h1 Magic Search Engine
    = form_tag("/card", method: :get, class: "search") do
      = text_field_tag(:q, @search)
      = submit_tag("Search")
    = yield
    %div.footer
      = link_to controller: "set", action: "index" do
        Sets
      &bullet;
      = link_to controller: "help", action: "syntax" do
        Syntax Help
      &bullet;
      = link_to controller: "help", action: "rules" do
        Rules
