!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    - if @title
      %title #{@title} - mtg.wtf
    - else
      %title mtg.wtf
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{rel: "search", href: "http://mtg.wtf/opensearchdescription.xml", type: "application/opensearchdescription+xml", title: "mtg.wtf"}
    = csrf_meta_tags
  %body
    %h1
      %a.site_logo{href: "/"} mtg.wtf
    = form_tag("/card", method: :get, class: "search", enforce_utf8: false) do
      = text_field_tag(:q, @search, {autofocus: true})
      = submit_tag("Search", name: nil)
    = yield
    %div.footer
      = link_to controller: "set", action: "index" do
        Sets
      &bullet;
      = link_to controller: "help", action: "syntax" do
        Syntax Help
      &bullet;
      = link_to controller: "help", action: "rules" do
        Rules
      &bullet;
      = link_to controller: "help", action: "contact" do
        Contact
