!!!
%html
  = render "layouts/head"
  %body
    .container{class: @empty_page ? "empty_page" : ""}
      .row.logo_row
        .col-xs-12
          %h1
            %a.site_logo{href: "/"} Lore Seeker
      .row.search_form_row
        = form_tag("/card", method: :get, class: "search", enforce_utf8: false) do
          .col-xs-12.col-md-10
            = text_field_tag(:q, @search, {class: 'form-control', tabindex: 1, autofocus: @empty_page})
          .col-xs-12.col-md-2
            = submit_tag("Search", name: nil, class: "btn btn-default")
      = yield
      = render "layouts/footer"
  %script
    if(!('ontouchstart' in document.documentElement)){ document.getElementById("q").focus(); }
