%h3 Search Help

%div
  Most syntax from magiccards.info works here. Everything is case insensitive. All Unicode characters like "Æ" can be spelled with their plain equivalents like "Ae" as well.

%h4 Search by name
%ul
  = search_help "channel", %Q[cards with "channel" in name]
  = search_help "!channel", %Q[cards with name exactly "channel" (only works as complete query)]
  = search_help %Q["sword of"], %Q[cards with "sword of" in name]

%h4 Search by type
%ul
  = search_help "t:goblin", "search for Goblin cards"
  = search_help 't:"goblin warrior"', "search for Goblin Warrior cards"
  = search_help 't:"legendary land"', "search for Legendary Land cards"

%h4 Search by Oracle text
%div Reminder text is not included in Oracle search

%ul
  = search_help "o:delve", %Q[search cards with "delve" in Oracle text]
  = search_help %Q[o:"destroy target creature"], %Q[search cards with "destroy target creature" in Oracle text]
  = search_help "o:flying", %Q[search cards with "flynig" in Oracle text - without cards with rearch simply in reminder text like ones with reach ability]

%h4 Search by edition
%ul
  = search_help "e:bfz", %Q[cards from "Battle for Zendikar" set]
  = search_help %Q[e:"scars of mirrodin"], %Q[cards from "Scars of Mirrodin" set]
  = search_help %Q[e:ascension], %Q[cards from all sets including "ascension" in name (only if there's no exact match)]

%h4 Search by block
%ul
  = search_help "b:zendikar", "cards from Zendikar block"
  = search_help "b:isd", "cards from Innistrad block"
  = search_help %Q[b:"return to ravnica"], %Q[cards from "Return to Ravnica" block]

%h4 Search by color
%ul
  = search_help "c:w", "white cards (possibly also other colors)"
  = search_help "c!w", "white cards (no other colors)"
  = search_help "c:c", "colorless nonland cards"
  = search_help "c:l", "colorless land cards"
  = search_help "c:m", "multicolored cards"
  = search_help "c:wu", "blue or white cards"
  = search_help "c!wu", "blue or white cards (but other colors)"

%h4 Search by color identity
%ul
  = search_help "ci:rg", "cards with color identity allowed in red/green commander deck"
  = search_help "ci:c", "cards with color identity allowed in colorless commander deck"

%h4 Search by converted mana cost
%ul
  = search_help "cmc=3", "cards with converted mana cost 3"
  = search_help "cmc>=3", "cards with converted mana cost 3 or more"
  = search_help "cmc<2", "cards with converted mana cost less than 2"

%h4 Search by power and toughness
%ul
  = search_help "pow=4", "creature cards with power 4"
  = search_help "tou>=5", "creature cards with toughness 5 or more"
  = search_help "pow>tou", "creature cards with power greater than toughness"
  = search_help "tou=cmc", "creature cards with toughness equal to converted mana cost"

%h4 Boolean expressions
%ul
  = search_help "t:goblin AND cmc=2", "cards which are Goblins and have converted mana cost 2"
  = search_help "t:goblin AND cmc=2", "cards which are Goblins and have converted mana cost 2 (AND is optional)"
  = search_help "t:goblin OR cmc=2", "cards which are Goblins or have converted mana cost 2"
  = search_help "c:u (t:goblin OR t:elf)", "cards which are blue Goblins or blue Elves"
  = search_help "t:goblin -cmc=2", "cards which are Goblins but do not have converted mana cost 2"
  = search_help "t:goblin not cmc=2", "cards which are Goblins but do not have converted mana cost 2"

%h4 Search by rarity
%ul
  = search_help "r:common", "common cards"
  = search_help "r:uncommon", "uncommon cards"
  = search_help "r:rare", "rare cards"
  = search_help "r:mythic", "mythic rare cards"

%h4 Search by flavor text
%ul
  = search_help "ft:chandra", %Q[cards with "chandra" in flavor text]
  = search_help %Q[ft:"Jaya Ballard"], %Q[cards with "Jaya Ballard" in flavor text]

%h4 Search by artist
%ul
  = search_help %Q[a:argyle"], "cards with art drawn by (Steve) Argyle"
  = search_help %Q[a:"rebecca guay"], "cards with art drawn by Rebecca Guay"

%h4 Search by format
%ul
  = search_help "legal:standard", "cards legal in Standard format"
  = search_help "restricted:vintage", "cards restricted in Vintage format"
  = search_help "f:vintage", "cards legal (or restricted) in Vintage format"
  = search_help %Q[banned:pauper], "cards banned in Pauper format (doesn't include cards which aren't in format in the first place)"

%h4 Search by watermark
%ul
  = search_help "watermark:izzet", "cards with Izzet watermark (Return to Ravnica block)"
  = search_help "watermark:phyrexian", "cards with Phyrexian watermark (Scars of Mirrodin block)"

%ul
