%h3.card_title
  = link_to_card(card) do
    = card.name
  = format_oracle_text(card.mana_cost)

%div.typeline= card.typeline

- if card.text.present?
  %div.oracle= format_oracle_text(card.text)

- if card.flavor.present?
  %div.flavor= format_oracle_text(card.flavor)

- if card.power
  %div.power_toughness
    = "#{card.power}/#{card.toughness}"

- if card.loyalty
  %div
    %span.infolabel
      Loyalty:
    = card.loyalty

- if card.hand
  %div
    %span.infolabel
      Hand size bonus:
    = card.hand

- if card.life
  %div
    %span.infolabel
      Life bonus:
    = card.life

- if card.others.present?
  %span.infolabel
    Card has other parts:
  - card.others.each do |other|
    = link_to_card(other) do
      = other.name
