.row.card_row
  .col-5.card_picture_cell
    = render 'card/picture', card: card
  .offset-1.col-6.cardinfo
    = render 'card', card: card

.row.card_row
  .col-6.cardinfo
    %h5 Details
    %ul
      %li.infolabel
        %span
          Artist:
        = link_to_artist(card.artist) do
          = card.artist.name
      - if card.reserved
        %li.infolabel
          = "#{card.name} is on the Reserved List."
      - if card.watermark
        %li.infolabel
          = "Watermark: #{card.watermark}"
      %li.infolabel
        = "Rarity: #{card.ui_rarity}"
      %li.infolabel
        = "Collector Number: #{card.number}"
      %li.infolabel
        = "Released: #{card.release_date}"

    = render 'legality', card: card

    - if card.rulings.present?
      %h5 Rulings
      %ul.rulings
        - card.rulings.each do |ruling|
          %li
            = ruling["date"]
            = format_oracle_text(ruling["text"])

    - if card.gatherer_link.present?
      %h5 Links
      %ul
        - if card.gatherer_link.present?
          %li.infolabel
            %a{href: card.gatherer_link}
              Gatherer
  .col-6
    = render 'printings_full', card: card, printings: printings_view_full(card, printings)

    - if card.foreign_names
      %h5 Foreign names
      %ul.foreign_names
        - card.foreign_names.sort.each do |language_code, foreign_names|
          - foreign_names.each do |foreign_name|
            %li
              %i{class: "famfamfam-flag-#{language_flag(language_code)}", title: language_name(language_code), lang: official_language_code(language_code)}
              = foreign_name
