%div.card
  %h3.card_tite
    = link_to_card(card) do
      = card.name
    = card.mana_cost

  %div.typeline= card.typeline

  - if card.text.present?
    %div= h(card.text).gsub("\n", "<br/>").html_safe

  - if card.flavor.present?
    %div.flavor= card.flavor

  - if card.power
    %div= "#{card.power}/#{card.toughness}"

  - if card.loyalty
    %div
      %span.infolabel
        Loyalty:
      = card.loyalty

  - if card.others.present?
    %span.infolabel
      Card has other parts:
    - card.others.each do |other|
      = link_to_card(other) do
        = other.name
