%h5 Legalities
%ul.legalities
  - legality = card.legality_information
  - if legality.legal_everywhere?
    - unless card.paper? or card.mtgo? or card.arena?
      %li This printing of #{card.name} is not legal. The card has other legal printings.
    %li
      #{card.name} is legal in every format.
  - elsif legality.legal_nowhere?
    %li
      #{card.name} is not legal in any format.
  - else
    - unless card.paper? or card.mtgo? or card.arena?
      %li This printing of #{card.name} is not legal. The card has other legal printings.
    - card.legality_information.to_h.sort.each do |format_name, status|
      %li
        - # Should this be in the engine?
        - display_status = status
        - if status == "restricted"
          - if format_name == "Commander" or format_name == "Brawl" or format_name == "Duel Commander"
            - display_status = "banned as commander"
          - elsif format_name == "Alchemy" or format_name == "Historic"
            - if card.specialized
              - display_status = "specialized"
            - else
              - display_status = "conjurable"
        %i{class: "legality-#{status}"}= display_status
        = link_to format_name, controller: "format", action: "show", id: format_name.parameterize
