- if card.is_a?(PhysicalCard)
  - foil = card.foil
  - card = card.main_front
- else
  - foil = false
- if card_picture_path(card)
  .card_picture_container
    - if card.layout == "flip"
      - if card.secondary?
        = render partial: "card/card_picture", locals: { card: card, foil: foil, card_layout: "flip_secondary" }
      - else
        = render partial: "card/card_picture", locals: { card: card, foil: foil, card_layout: "flip" }
    - elsif card.layout == "split" and card.others.size == 1 and card.set_code != "cmb1"
      = render partial: "card/card_picture", locals: { card: card, foil: foil, card_layout: "split" }
    - elsif card.layout == "aftermath"
      = render partial: "card/card_picture", locals: { card: card, foil: foil, card_layout: "aftermath" }
    - elsif card.layout == "double-faced" and card.others.size == 1
      - if card.secondary?
        = render partial: "card/card_picture", locals: { card: card, foil: foil, card_layout: "dfc_back" }
        = render partial: "card/card_picture", locals: { card: card.others[0], foil: foil, card_layout: "dfc_back_reverse" }
      - else
        = render partial: "card/card_picture", locals: { card: card, foil: foil, card_layout: "dfc" }
        = render partial: "card/card_picture", locals: { card: card.others[0], foil: foil, card_layout: "dfc_reverse" }
    - elsif card.layout == "meld" and card.others.size == 1
      = render partial: "card/card_picture", locals: { card: card, foil: foil, card_layout: "dfc" }
      = render partial: "card/card_picture", locals: { card: card.others[0], foil: foil, card_layout: "dfc_reverse" }
    - elsif card.layout == "meld" and card.others.size == 2
      = render partial: "card/card_picture", locals: { card: card, foil: foil, card_layout: "melded" }
      = render partial: "card/card_picture", locals: { card: card.others[0], foil: foil, card_layout: "meld0" }
      = render partial: "card/card_picture", locals: { card: card.others[1], foil: foil, card_layout: "meld1" }
    - elsif card.layout == "normal"
      = render partial: "card/card_picture", locals: { card: card, foil: foil, card_layout: "normal" }
    - else # Might need different layouts too
      = render partial: "card/card_picture", locals: { card: card, foil: foil, card_layout: "normal" }
- else
  .card_picture_container
    .picture_missing
      = card.name
      %br
      = "#{card.set_name}"
      %br
      = "#{card.number} (#{card.rarity})"
      %br
      Image missing
