- if card.is_a?(PhysicalCard)
  - foil = card.foil
  - card = card.main_front
- else
  - foil = false
- if card_picture_path(card)
  .card_picture_container
    - if card.layout == "flip"
      - if card.secondary?
        %img.card_picture.flip_secondary{src: card_picture_path(card), alt: card.name }
      - else
        %img.card_picture.flip{src: card_picture_path(card), alt: card.name }
    - elsif card.layout == "split" and card.others.size == 1
      %img.card_picture.split{src: card_picture_path(card), alt: card.name }
    - elsif card.layout == "aftermath"
      %img.card_picture.aftermath{src: card_picture_path(card), alt: card.name }
    - elsif card.layout == "normal"
      %img.card_picture{src: card_picture_path(card), alt: card.name }
    - elsif card.layout == "double-faced" and card.others.size == 1
      %img.card_picture.dfc{src: card_picture_path(card), alt: card.name }
      %img.card_picture.dfc_reverse{src: card_picture_path(card.others[0]), alt: card.others[0].name }
    - elsif card.layout == "meld" and card.others.size == 1
      %img.card_picture.dfc{src: card_picture_path(card), alt: card.name }
      %img.card_picture.dfc_reverse{src: card_picture_path(card.others[0]), alt: card.others[0].name }
    - elsif card.layout == "meld" and card.others.size == 2
      %img.card_picture.melded{src: card_picture_path(card), alt: card.name }
      %img.card_picture.meld0{src: card_picture_path(card.others[0]), alt: card.others[0].name }
      %img.card_picture.meld1{src: card_picture_path(card.others[1]), alt: card.others[1].name }
    - else # Might need different layouts too
      %img.card_picture{src: card_picture_path(card), alt: card.name }
    - if foil
      .foil_layer
- else
  .card_picture_container
    .picture_missing
      = card.name
      %br
      = "#{card.set_name}"
      %br
      = "#{card.number} (#{card.rarity})"
      %br
      Image missing
