%h5 Printings
%ul.printings_list
  - printings.each do |set_name, set_printings|
    - if set_printings.size == 1
      - set_printings.each do |type, printing|
        - case type
        - when :selected
          %li.selected
            = printing.set_name
        - when :matching
          %li.matching
            = link_to_card(printing) do
              = printing.set_name
        - else
          %li.not_matching
            = link_to_card(printing) do
              = printing.set_name
    - else
      %li
        %span.set_name
          = set_name
          &mdash;
        - set_printings.each do |type, printing|
          - case type
          - when :selected
            %span.selected
              = printing.number
          - when :matching
            %span.matching
              = link_to_card(printing) do
                = printing.number
          - else
            %span.not_matching
              = link_to_card(printing) do
                = printing.number
