- brief ||= false
- if printings.present?
  .printings_box
    - printings_by_set = card.printings.reverse.group_by(&:set_name).to_a
    - if brief and printings_by_set.size > 20
      - printings_by_set = printings_by_set[0, 20]
      - link_to_rest = true
    - else
      - list_to_rest = false
    - printings_by_set.each do |set_name, set_printings|
      - if set_printings.size == 1
        - printing = set_printings[0]
        - if card == printing
          .selected
            = printing.set_name
        - elsif printings.include?(printing)
          .matching
            = link_to_card(printing) do
              = printing.set_name
        - else
          .not_matching
            = link_to_card(printing) do
              = printing.set_name
      - else
        %div
          %span.set_name
            = set_name
            &mdash;
          - set_printings.reverse.each do |printing|
            - if card == printing
              %span.selected
                = printing.number
            - elsif printings.include?(printing)
              %span.matching
                = link_to_card(printing) do
                  = printing.number
            - else
              %span.not_matching
                = link_to_card(printing) do
                  = printing.number
    - if link_to_rest
      = link_to_card(card) do
        (and others)
