- if printings.present?
  .printings_box
    - card.printings.reverse.group_by(&:set_name).each do |set_name, set_printings|
      - if set_printings.size == 1
        - printing = set_printings[0]
        - if card == printing
          .selected
            = printing.set_name
        - elsif printings.include?(printing)
          .matching
            = link_to_card(printing) do
              = printing.set_name
        - else
          .not_matching
            = link_to_card(printing) do
              = printing.set_name
      - else
        %div
          %span.set_name
            = set_name
            &mdash;
          - set_printings.reverse.each do |printing|
            - if card == printing
              %span.selected
                = printing.number
            - elsif printings.include?(printing)
              %span.matching
                = link_to_card(printing) do
                  = printing.number
            - else
              %span.not_matching
                = link_to_card(printing) do
                  = printing.number
