= form_tag("/advanced", class: "advanced_search", method: :get) do
  .row
    .xs-sm-12
      %h2 Advanced Search
      %label{for: "advanced_name"} Card name
      = text_field_tag("advanced[name]", "", class: "form-control", placeholder: "Akroma")

      %label{for: "advanced_type"} Card type (including supertypes and subtypes)
      = text_field_tag("advanced[type]", "", class: "form-control", placeholder: "legendary dragon")

      %label{for: "advanced_oracle"} Rules text (Oracle)
      = text_field_tag("advanced[oracle]", "", class: "form-control", placeholder: '"3 damage to target creature"')

      %label{for: "advanced_flavor"} Flavor text
      = text_field_tag("advanced[flavor]", "", class: "form-control", placeholder: '"jaya ballard"')

      %h6 Artist
      = text_field_tag("advanced[artist]", "", class: "form-control", placeholder: 'rebecca guay')

      = submit_tag("Search", name: nil, class: "btn btn-default")
