- if @warnings.present?
  .row
    .col-12.warnings
      - @warnings.each do |warning|
        .warning= warning
- if @search.present?
  = render 'summary'
  - @cards.each do |card, printings|
    - if @cards.total_entries == 1
      = render "card_row_full", card: card, printings: printings
    - else
      = render "card_row_short", card: card, printings: printings
  .row
    .col-12.pagination
      = will_paginate @cards
