- if @warnings.present?
  .row
    .col-xs-12.warnings
      - @warnings.each do |warning|
        .warning= warning
- if @search.present?
  = render 'summary'
  - @cards.each do |card, matching_printing|
    - if @cards.total_entries == 1
      = render "card_row_full", card: card
    - else
      = render "card_row_short", card: card, matching_printing: matching_printing
  .row
    .col-xs-12.pagination
      = will_paginate @cards
