- if @warnings.present?
  .row
    .col-12.warnings
      - @warnings.each do |warning|
        .warning= warning
- if @search.present?
  = render 'summary'
  .row.multicard_row
    - @cards.each_with_index do |(card, printings), i|
      .col-6.col-sm-4.card_picture_cell{class: "card_#{i % 3}_of_3 card_#{i % 2}_of_2"}
        = link_to_card(card) do
          = render 'card/picture', card: card
  .row
    .col-12.pagination
      = will_paginate @cards
