%h3
  = @card.name
  = @card.mana_cost

%div= @card.typeline

- if @card.text.present?
  %div= @card.text

- if @card.flavor.present?
  %div{style: "font-style: italic"}= @card.flavor

- if @card.power
  %div= "#{@card.power}/#{@card.toughness}"

- if @card.loyalty
  %div
    Loyalty:
    = @card.loyalty
