%ul
  - contents.each do |count, item|
    %li
      - if count > 1
        = "#{count}x"
      - if item.is_a?(Deck)
        = link_to_deck(item) do
          = "#{item.name} — #{item.type}"
      - elsif item.is_a?(Product)
        = link_to_product(item) do
          = "#{item.name}"
          = render 'product/contents', contents: item.contents
      - elsif item.is_a?(Pack)
        = link_to_pack(item) do
          = item.name
        = "(#{item.code.upcase})"
      - elsif item.is_a?(PhysicalCard)
        = link_to_card(item.main_front) do
          = "#{item.name} [#{item.set_code.upcase}:#{item.number}]#{ item.foil ? " [foil]": ""}"
      - elsif item.is_a?(ProductVariableContents)
        Variable contents
        %ul
          - item.options.each do |option|
            %li
              = "#{option[:chance]}/#{option[:total]} (#{(100.0*option[:chance]/option[:total]).round(2)}%)"
              = render 'product/contents', contents: option[:subproduct]
      - else # String
        = item
