%h3 Sealed Products
- @sets.each do |set|
  %div= "#{set.name} (#{set.code.upcase})"
  %ul
    - set.products.each do |product|
      %li
        = link_to_product(product) do
          = "#{product.name}"
