.row
  .col-xs-12
    %h3= @artist

.row.results_summary
  .col-xs-12
    #{@artist} drew #{pluralize(@cards_total, "card")}.

- @cards_by_set.each do |set, cards|
  .row
    %h3.col-xs-12
      = set.name
  .row.multicard_row
    - cards.each do |card|
      .col-xs-12.col-sm-6.col-md-4.card_picture_cell
        = render 'card/picture', card: card
