.row
  .col-xs-12
    %h3= @artist.name

.row.results_summary
  .col-xs-12
    #{@artist.name} drew #{pluralize(@printings.total_entries, "card")}.

- @printings.group_by(&:set).each do |set, printings|
  .row
    %h3.col-xs-12
      = set.name
  .row.multicard_row
    - printings.each do |printing|
      .col-xs-12.col-sm-6.col-md-4.card_picture_cell
        = render 'card/picture', card: printing

.row
  .col-xs-12.pagination
    = will_paginate @printings
