.row
  .col-xs-12
    %h3= @set.name

.row.results_summary
  .col-xs-12
    #{@set.name} contains #{pluralize(@cards.total_entries, "card")}.
  - if @set.block_name
    .col-xs-12
      It is part of #{@set.block_name} block.

- @cards.each do |card|
  .row.card_row
    .col-xs-12.col-sm-6.col-md-4.card_picture_cell
      = render 'card/picture', card: card
    .col-xs-12.col-sm-6.cardinfo
      %div
        = render 'card/card', card: card
.row
  .col-xs-12.pagination
    = will_paginate @cards
